@import "../../../styles/base";

.profile-doctor-container{


    .intro{
        display: flex;
        .content-left{
            width: 80px;
            height: 80px;
            background: center center no-repeat;
            background-size: cover;
            border-radius: 50%;
        }
        .content-right{
            width: calc(100% - 80px);
            display: flex;
            flex-direction: column;
            padding-left: 15px;
    
            .up{
                //padding-top: 15px;
                font-weight: 600;
            }
            .down{
                padding-top: 5px;
                text-align: justify;
            }
        }
    }
}
